/* *{
  background-color: rgb(242, 230, 230);
  box-sizing: border-box;

} */

.head {
  text-align: center;
  border: 2px solid;
}

h1 {
  display: inline;
}

button {
  position: relative;
  background-color:#001b44;
  color: #fff;
  float: right;
  text-align: center;
  position: relative;
}

h2 {
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

h3{
  margin-top: 20px;
  border-top: 2px solid;
  padding-top: 10px;
  font-size: small;
}

footer{
  border: 2px solid;
  margin-top: 20px;
}

h4{
  text-align: center;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

h5 {
  font-size: large;
}

.newPost {
  margin-top: 20px;
  width: 300px;
  border: 2px solid;
  padding: 20px;
}